# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: El Camino College Showcase
author: Jonathan Ferrari
logo: _static/ds.svg

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: 'off'

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/ds-modules/ecc-textbook  # Online location of your book
  path_to_book: modules  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  extra_css:
    - _static/custom.css
    
sphinx:
  extra_extensions: [sphinx_multitoc_numbering, sphinxext.rediraffe, sphinx_tojupyter, sphinx_exercise, sphinx_togglebutton]
  config:
    html_theme: sphinx_book_theme
    html_static_path: ['_static']
    html_favicon: _static/favicon.ico
    html_theme_options:
      quantecon_project: False
      dark_logo: _static/ds.svg
      repository_url: https://github.com/ds-modules/ecc-textbook
      nb_repository_url: https://github.com/ds-modules/ecc-textbook.notebooks
      description: This website presents a set of lectures on python programming for various fields.
      launch_buttons:
        notebook_interface        : classic  # The interface interactive links will activate ["classic", "jupyterlab"]
        colab_url                 : "https://colab.research.google.com"
        deepnote_url              : "https://deepnote.com"
        binderhub_url             : "https://mybinder.org"
        thebe                     : True  # Add a thebe button to pages (requires the repository to run on Binder)
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    rediraffe_redirects:
      index_toc.md: intro.md
    tojupyter_static_file_path: ["source/_static", "_static"]
    tojupyter_target_html: true
    tojupyter_urlpath: "https://python-programming.quantecon.org/"
    tojupyter_image_urlpath: "https://python-programming.quantecon.org/_static/"
    tojupyter_lang_synonyms: ["ipython", "ipython3", "python"]
    tojupyter_kernels:
      python3:
        kernelspec:
          display_name: "Python"
          language: python3
          name: python3
        file_extension: ".py"
    tojupyter_images_markdown: true
