jupyter-book
mystmd
ghp-import
jupyter-book
matplotlib
numpy
jupyter
ipykernel
httpimport
statsmodels
pandas
datascience
scipy
scikit-learn
seaborn
geopandas
shapely
nptdms
ipywidgets
plotly
pyarrow
openpyxl
otter-grader
openai
python-dotenv
yfinance
sympy
gensim
gpt4all
suntime
imageio-ffmpeg